@model IEnumerable<OnlineCv.WebUI.Models.Entity.Bio>
@{
    Layout = null;
}
<div id="bio1" class="inside-sec">
    @foreach (var item in Model)
    {
        <input value="@item.Id" name="id" type="hidden"/>
        <p>
            @item.Description
        </p>
        <div class="bio-info padding-30">
            <div class="skills">
                <!-- Sound Engineering -->
                <div class="panel-group accordion" id="#accordion5">
                    <div class="panel panel-default">
                        @if (item.IsBar == true)
                        {

                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- PANEL HEADING -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion5" href="#@item.Id"> Sound Engineering</a> </h4>
                                    </div>
                                </div>

                                <!-- Skillls Bars -->
                                <div class="col-sm-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillLevel" aria-valuemin="0" aria-valuemax="100" style="width: @item.SkillLevel%;"> <span class="sr-only">@item.SkillLevel% Complete</span> </div>
                                    </div>

                                    <!-- Skillls Text -->
                                    <div id="@item.Id" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>@item.SkillDescription</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="ethical">
                            @if (item.IsTag == true)
                            {
                                <a href="#.">@item.Skill.Name</a>
                            }
                        </div>
                        <button type="button" onclick="openModal11(@item.Id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit</button>
                    </div>
                </div>
            </div>


            <hr />
        </div>
    }
</div>

<form id="bio2">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="bioM" style="height:400px">

                </div>
                <button class="btn btn-sm" onclick="save1()" type="button">Save CHanges</button>
                <button class="btn btn-sm" type="button" onclick="del()">Delete</button>
            </div>
        </div>
    </div>

</form>


<div class="inside-sec">
    <!-- BIO AND SKILLS -->
    <h5 class="tittle">Bio & Skills</h5>
    <div class="bio-info padding-30">
        <form method="post" action="@Url.Action("addSk","Dashboard")">
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input id="nn" name="name" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="ss" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <form method="post" action="@Url.Action("addCate","Dashboard")">
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input id="nn" name="name" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="ss" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <form method="post" action="@Url.Action("addSkill","Dashboard")">
            <textarea class="form-control" placeholder="Write your description here" name="Description"></textarea>
            <div class="skills margin-top-50">

                <!-- SKILLS -->
                <h6>Add A Skill</h6>

                <!-- Sound Engineering -->
                <div class="row">

                    @Html.Action("Category", "Dashboard")

                    @Html.Action("Skill", "Dashboard")
                </div>

                <!-- Disply Type -->
                <div class="disply-type">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio1" value="true" name="IsBar">
                                <label for="inlineRadio1"> Display As Bar </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="true" name="IsTag">
                                <label for="inlineRadio2"> Display As Tag </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skill Info -->
                <div class="skill-type-info">
                    <label>
                        Skill Level
                        <input type="text" class="form-control" name="SkillLevel">
                    </label>
                    <label>
                        Skill Description
                        <textarea class="form-control" name="SkillDescription"></textarea>
                    </label>
                </div>
                <!-- ADD MORE-->
                <button type="submit" class="btn"><i class="fa fa-plus"></i> Add Skill</button>
            </div>
        </form>
    </div>
</div>
<script>
        function openModal11(id) {
                 $.ajax({
                     url: '@Url.Action("getBio", "Dashboard")/' + id,
                     type: 'GET',
                     success: function (response) {

                         $('#bioM').html(response);

                         $("#myModal").modal();
                     },
                     error: function (response) {
                         console.error(response);
                     }
                        });
        }
</script>
<script>
    function save1() {
        var info = $("#bio2").serialize();
        $.ajax({
            url: '@Url.Action("saveBio", "Dashboard")',
            type: "POST",
            data: info,
            success: function (response) {
                console.log(response)
                    $('#bio1').html(response);
                },
                error: function (response) {
                    console.error(response);
                }
            })
    }
</script>
<script>
    function del() {
        var i = $("#id1").val();
        $.ajax({
            url: '@Url.Action("deleteBio", "Dashboard")',
            type: "POST",
            data: { id: i },
            success: function (response) {
                console.log(response)
                    $('#bio1').html(response);
                },
                error: function (response) {
                    console.error(response);
                }
            })
    }
</script>