@model OnlineCv.WebUI.Models.Entity.SocialProfiles
@{
    Layout = null;
}
<!-- Social Profiles -->
<h5 class="tittle">Social Profiles</h5>
<form method="post" action="@Url.Action("Socials","Dashboard")">
    <div class="social-icon bor-btm padding-25">
        <ul>
            <li>
                <i class="fa fa-facebook"></i>
                <input class="form-control" type="text" name="facebook" value="@Model.Facebook">
            </li>
            <li>
                <i class="fa fa-twitter"></i>
                <input class="form-control" type="text" name="twitter" value="@Model.Twitter">
            </li>
            <li>
                <i class="fa fa-google-plus"></i>
                <input class="form-control" type="text" name="google" value="@Model.Google">
            </li>
            <li>
                <i class="fa fa-linkedin"></i>
                <input class="form-control" type="text" name="linked" value="@Model.Linked">
            </li>
            <li>
                <i class="fa fa-skype"></i>
                <input class="form-control" type="text" name="skype" value="@Model.Skype">
            </li>
        </ul> <br />
        <button type="submit" class="btn btn-sm">Add</button>
    </div>
</form>