@model IEnumerable<OnlineCv.WebUI.Models.Entity.AcademicBackground>
@foreach (var item in Model)
{
    <div class="exp">
        <div class="media-left"> <span class="sun">@item.Qualification</span> </div>
        <div class="media-body">
            <!-- COmpany Logo -->
            <div class="company-logo" style="overflow:hidden; width: 150px"> <img src="@(string.IsNullOrWhiteSpace(item.mediaUrl)?"":Href("~/Template/media/"+item.mediaUrl))" /> </div>
            <h6>@item.UniversityName</h6>
            <p>@item.Degree</p>
            <p>@item.YearofObtention</p>
            <p>@item.Details</p>
            <button class="btn btn-sm btn-warning"
                    type="button"
                    data-toggle="modal"
                    data-target="#answer"
                    onclick="openModal(@item.Id)">
                <i>Edit</i>
            </button>
            <button class="btn btn-sm" type="button" onclick="delB(@item.Id)">Delete</button>
        </div>
    </div>
}